*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
background:radial-gradient(pink,rgb(114, 5, 114));
    
}
.big{
    width:600px;
    height:100vh;
    border:2px solid black;
    text-align: center;
    margin: auto;

}
.big h1{
    text-align: center;
    font-style: italic;
    color:rgb(94, 4, 94);
    font-size: 3rem;
}
.box{
    width:450px;
    height: 600px;
    background:linear-gradient(pink,purple);
 /*   position: relative;
    left:600px;*/
    margin: auto;
    border-radius: 20px;
}
input {
    width:300px;
    height:80px;
   color:black;
    border-radius: 20px;
font-size: 2rem;
font-style:oblique;
background-color: antiquewhite;
text-align: center;
}
.box{
    line-height: 10;
    text-align: center;
}
/*
h1{
    font-size: 3rem;
  /*  position: relative;
    left:780px;
    font-style: italic;
    color:rgb(94, 4, 94);
}
*/
.b1{
    width:500px;
    height:auto;
    background:linear-gradient(lightblue,lightskyblue);
    
    border-radius: 50px;

font-size: 2rem;
text-align: center;
margin: auto;
margin-top: 50px;
/*position: relative;
top:40px;
left:680px;*/

}
.v1{
    width:400px;
    height:40px;
margin-bottom: 30px;
border-radius: 20px;
background-color:rgb(250, 248, 250);
font-size: 2rem;
font-style: italic;

}
/*media quarey------*/
@media screen and (min-width:992px) and(max-width:1199px){
    .box{
        display: flex;
        margin: auto;
        text-align: center;
        width:400px
    }
    .big{
        width:400px;
    }
     .b1{
        width:400px;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .box{
        display: grid;
       margin: auto;
       text-align: center;
        width:400px

    }
     .big{
        width:400px;
    }
     .b1{
        width:400px;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    .box{
        
        display: grid;
        margin: auto;
        text-align: center;
        width:400px
        
      
    }
     .big{
        width:400px;
    }
    .b1{
        width:400px;
    }
}
@media screen and (max-width:575px){
    .box{
        display: block;
        
    }
}
    